<div id="floor">
    <table id="clientTable" class="table">
    </table>
</div>
<script>
$(document).ready(function () {
    $.ajax({
        url: "/api/getAllClients",
        method: "post",
        data: {
            token: "TODOImplementRealToken"
        },
        dataType: "json",
        success: function (res, status) {
            $("#clientTable").append('\n' +
                '        <thead class="thead-dark">\n' +
                '            <th scope="col">#</th>\n' +
                '            <th scope="col">Name</th>\n' +
                '            <th scope="col">Location</th>\n' +
                '            <th scope="col">Remaining Hours</th>\n' +
                '            <th scope="col">Email</th>\n' +
                '        </thead><tbody>')
            res.forEach(item => {
                $("#clientTable").append('\n' +
                    '<tr>' +
                    '   <th scope="row">' + item.id +'</th>' +
                    '   <td>' + item.name + '</td>'+
                    '   <td>' + item.location + '</td>'+
                    '   <td>' + item.remainingHours + '</td>'+
                    '   <td>' + item.email + '</td>'
                );
            })
            $("#clientTable").append('\n</tbody>')
        },
        error: function (res, status) {
            $("#floor").html("Something went wrong!");
            //log, send error report
        }
    })
})
</script>