<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
   <!-- <meta name="google-signin-client_id" content=""> -->
    <title>TwinBee</title>


    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css"/>
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->


</head>
<body>
<header>
    <img src = "<%=headerImg["src"]%>" alt="<%=headerImg["alt"]%>">
</header>
<nav class="blueBanner">
    <%if (typeof navItemsTop !== "undefined"){%>
        <% for (var i = 0; i < navItemsTop.length; ++i){%>
            <%if (i != 0){%>
                |
            <%}%>
            <span id="<%=navItemsTop[i]["id"]%>" class="navItem"><%=navItemsTop[i]["text"]%></span>
        <%}%>
    <%}else{%>
    <h5>Welcome!</h5>
    <%}%>
</nav>
