<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>Freedom Makers Hours</title>

    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="./js/time.js"></script>
    <script type="text/javascript" src="./js/google.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script>
        moment().format("YYYY/MM/DD");
    </script>
    <meta name="google-signin-client_id" content="760340914077-phpj0smkhofspo2nvh6o7g40hqvsbphc.apps.googleusercontent.com">
</head>

<body>
<header>
    <div id="headContainer">
        <div id="landingLogo">
            <img src="<%=headerImg["src"]%>" id="actualImage" alt="<%=headerImg["alt"]%>">
        </div>
        <div id=<%=siteTitle["text"]%>>
            <div id="pageTitle"><%=pageTitle["text"]%></div>
        </div>
        <div id="userOptions">
            <div id="welcome" class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="googleUser"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="g-signin2 dropdown-item disabled" data-onsuccess="onSignIn" href="#" disabled></a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <span id="logout"></span>
                </div>
            </div>
            <div id="time"></div>
        </div>
    </div>
</header>
