<%- include('partials/header.ejs') -%>
<script src="/js/admin.js"></script>
<div id="adminMainContent">
    This is where admin will access their controls.

</div>

<%- include('partials/footer.ejs') -%>