<%- include('partials/header.ejs') -%>
<script src="/js/admin.js"></script>
<div id="userMainContent">
    <div class="row">
        <div class="block">
            <h6>This is a table of current online makers.</h6>
            <span id="online"></span>
        </div>
    <br>
        <div class="block">
            <h6>This is a running updated status report of monthly/weekly/daily hours.</h6>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') -%>