<%- include('partials/header.ejs') -%>
<script src="/js/adminPage.js"></script>
<div id="userMainContent">
    <div class="row" id="topRow">
        <div class="block">
            <span id="text1"></span>
            <span id="online"></span>
        </div>
    <br>
        <div class="block">
            <span id="text2"></span>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') -%>