<%- include('partials/header.ejs') -%>
<script src="/js/clientPage.js"></script>
<nav>
    <%if (typeof navItemsTop !== "undefined"){%>
        <% for (var i = 0; i < navItemsTop.length; ++i){%>
        <%if (i != 0){%>
            |
        <%}%>
        <span id="<%=navItemsTop[i]["id"]%>" class="navItem"><%=navItemsTop[i]["text"]%></span>
        <%}%>
    <%}else{%>
    <%}%>
</nav>
<div id="userMainContent">
    <div class="row" id="clientTopRow">
        <div class="block">
            <div id="text1"></div>
            <button type="button" class="btn btn-select btn-circle btn-xl" id="updatePayment">Update Payment</button>
            <button type="button" class="btn btn-select btn-circle btn-xl" id="revInvoices">Review Invoices</button>
        </div>
    </div>
        <br>
    <div class="row" id="clientBottomRow">
        <div class="block">
            <div id="text2"></div>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') -%>