<%- include('partials/header.ejs') -%>
<script src="/js/forbidden.js"></script>
<div id="userMainContent">
    <h1 style="text-align: center">Access Denied</h1>
    <h3 style="text-align: center">Please sign in with a valid account.</h3>
    <h6 style="text-align: center">Is this unexpected? Sometimes reloading the page can do strange things.</h6>
    <h6 style="text-align: center">Try logging out, then back in.</h6>
</div>

<%- include('partials/footer.ejs') -%>