<%- include('partials/header.ejs') -%>

<div id="userMainContent">
    <h1 style="text-align: center">Access Denied</h1>
    <h3 style="text-align: center">Please sign in with a valid account.</h3>
</div>

<%- include('partials/footer.ejs') -%>