<%- include('partials/header.ejs') -%>
<script src="/js/landingPage.js"></script>
<div id="landingMain">
    <form action="/api/login" method="post">
        <div id="form-row-email">
                <label for="userEmail">Email</label>
                <input id="userEmail" name="userEmail" type="email" class="form-control" placeholder="myemail@email.com">
        </div>
        <div id="form-row-pass">
                <label for="userPassword">Password</label>
                <input id="userPassword" name="userPassword" type="password" class="form-control" placeholder="password">
        </div>
        <div id="form-row-type">
                <label for="type">Dev Use Only</label>
                <input id="userType" name="userType" type="text" class="form-control" placeholder="'admin', 'maker', or 'client'">
        </div>
        <button id="loginButton" type="submit" class="btn btn-default">Log In</button>
    </form>
    <br>
    <a href="">Forgot username or password?</a>
    <br>
</div>
<%- include('partials/footer.ejs') -%>