<%- include('partials/header.ejs') -%>
<script src="/js/makerPage.js"></script>
<nav>
    <%if (typeof navItemsTop !== "undefined"){%>
        <% for (var i = 0; i < navItemsTop.length; ++i){%>
        <%if (i != 0){%>
            |
        <%}%>
        <span id="<%=navItemsTop[i]["id"]%>" class="navItem"><%=navItemsTop[i]["text"]%></span>
        <%}%>
    <%}else{%>
    <%}%>
</nav>
<div id="userMainContent">
    <div class="row" id="makerTopRow">
        <div class="block">
            <h6>Please select your Client:</h6><br>
            <select id="makerSelectedClient"></select>
            <span id="makerText1"></span>
        </div>
    </div>
        <br>
    <div class="row" id="makerBottomRow">
        <div class="block">
            <span id="makerText2"></span>
            <button type="button" class="btn btn-warning btn-circle btn-xl" id="makerClock">Clock In</button>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') -%>