<%- include('partials/header.ejs') -%>
<script src="/js/makerPage.js"></script>
<nav>
    <%if (typeof navItemsTop !== "undefined"){%>
        <% for (var i = 0; i < navItemsTop.length; ++i){%>
        <%if (i != 0){%>
            |
        <%}%>
        <span id="<%=navItemsTop[i]["id"]%>" class="navItem"><%=navItemsTop[i]["text"]%></span>
        <%}%>
    <%}%>
</nav>
<div id="userMainContent">
    <div class="row" id="clientTopRow">
        <div class="introblock">
            <div id="empty"></div>
            <div id="makerText1"></div>
            <div id="empty"></div>
        </div>
    </div>
    <br>
    <div class="row" id="clientBottomRow">
        <div class="block">
            <div id="makerText2"></div>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') -%>