<%- include('partials/header.ejs') -%>
<script src="/js/makerPage.js"></script>
<nav>
    <%if (typeof navItemsTop !== "undefined"){%>
        <% for (var i = 0; i < navItemsTop.length; ++i){%>
        <%if (i != 0){%>
            |
        <%}%>
        <span id="<%=navItemsTop[i]["id"]%>" class="navItem"><%=navItemsTop[i]["text"]%></span>
        <%}%>
    <%}else{%>
    <%}%>
</nav>
<div id="userMainContent">
    <div class="row" id="makerTopRow">
        <div class="block">
            <h6>Please select your Client and Role:</h6><br>
            <select id="makerSelectedClient"></select>
            <div id="makerText1"></div>
        </div>
        <div class="block">
            <div id="taskBlock">
                <h6>Please enter in a task:</h6>
                <input type="text" id="taskEntry" name="taskEntry">
            </div>
        </div>
    </div>
        <br>
    <div class="row" id="makerBottomRow">
        <div class="block">
            <button type="button" class="btn btn-select btn-circle btn-xl" id="makerClock">Clock In</button>
            <br><div id="makerText2"></div>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') -%>