header {
    text-align: center;
    margin: auto;
}

body {
    justify-content: center;
    text-align: center;
    margin: auto;
    color: #32444e;
    background-color: #32444e;

}

#landingMain {
    background-color: white;
    padding: 20px
}

#userMainContent {
    margin: auto;
    background-color: white;
}


#landingLogo {
    text-align: center;
    background-color: #e8ecef;
    padding: 20px;
}

nav {
    margin: auto;
    text-align: center;
    color: white;
    background-color: #32444e;
    padding: 10px;
}

body a {
    text-align: center;
    color: #32444e;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
    color: #dbb459;
    font-style: italic;
}

footer {
    background-color: #32444e;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

.copyright {
    color: #dbb459;
    background-color: #32444e;
    padding: 10px;
}

#loginButton, #logoutButton, #SubmitButton, #ExpandButton {
    color: white;
    background-color: #32444e;
}

#loginButton:hover,
#logoutButton:hover,
#SubmitButton:hover,
#ExpandButton:hover {
    background-color: #dbb459;
}

#logoutButton {
    position: absolute;
    top:50px;
    right: 20px;
}

#SubmitButton {
    position: absolute;
    top:520px;
    right: 20px;
}

#ExpandButton {
    position: absolute;
    top: 520px;
    left: 20px;
}


#userEmail, #userPassword, #userType {
    background: #e8ecef;
}


#userEmail, #userPassword, #userType {
    width: 20%;
}

#form-row-email, #form-row-pass, #form-row-type {
    display: grid;
    height: 100px;
    place-items: center;
    padding-bottom: 20px;
}

label {
    float: left;
    margin-right: 10px;
}

.row {
    margin: 0 auto;
    height: 400px;
    padding: 20px;
}

.block {
    display: inline-block;
    width: 50%;
    padding: 20px;
}

#adminTitle {
    font-size: 1.5em;
    padding-top: 120px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#landingTitle {
    padding: 10px;
    font-size: 1.5em;
    background-color: #32444e;
}

#floor {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 5px 5px 5px 5px;
}

#time {
    position: absolute;
    top: 120px;
    right: 20px;
}

#floor::-webkit-scrollbar {
    width: 20px;
}

#floor::-webkit-scrollbar-track
{
    background-color: rgba(90,90,90,.05);
    border-radius: 20px;
    background-clip: content-box;
}

#floor::-webkit-scrollbar-thumb {
    background-image: url(/img/star.png);
    background-repeat: space;
    background-position: center;
}

th {
    background-color: #a4b6ba;
    position: sticky;
    top: 0;
}

#optionsClient {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
