header {
    text-align: center;
    width: 100%;
    height: 270px;
    background-color: #e8ecef;
}

body {
    width: 100%;
    height: 100%;
    color: #32444e;
    background-color: #32444e;
}

#landingMain {
    background-color: white;
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 50px;
}

#userMainContent {
    margin: auto;
    width: 100%;
    height: 500px;
    background-color: white;
    padding-top: 10px;
}

#landingLogo {
    width: 100%;
    padding: 15px;
}

nav {
    display: inline-block;
    margin: auto;
    text-align: center;
    color: white;
    background-color: #32444e;
    width: 100%;
    font-size: 1.2em;
    padding: 10px;
}

body a {
    text-align: center;
    color: #32444e;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
    color: #dbb459;
    font-style: italic;
}

footer {
    color: white;
    text-decoration: none;
    text-align: center;
}

footer a {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

.copyright {
    color: #dbb459;
    background-color: #32444e;
    padding: 10px;
}

#loginButton, #logoutButton, #SubmitButton{
    color: white;
    background-color: #32444e;
}

#loginButton:hover,
#logoutButton:hover,
#SubmitButton:hover {
    background-color: #dbb459;
}

#ExpandButton:hover,
#AddButton:hover,
#DeleteButton:hover {
    background-color: #e8ecef;
}

#ExpandButton,
#AddButton,
#DeleteButton {
    background-color: #a4b6ba;
}

#buttonsTop {
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
}
#buttonsBottom {
    width: 100%;
}

#logoutButton {
    position: absolute;
    top:50px;
    right: 20px;
}

#SubmitButton {
    margin-bottom: auto;
    margin-top: 0;
    opacity: 0;
}

#ExpandButton {
    margin-bottom: auto;
    margin-top: 0;
    opacity: 0;
}

#userEmail, #userPassword {
    background: #e8ecef;
}

#userEmail, #userPassword {
    width: 20%;
}

#form-row-email, #form-row-pass, #form-row-type {
    display: grid;
    height: 100px;
    place-items: center;
    padding-bottom: 20px;
}

label {
    float: left;
    margin-right: 10px;
}

.row {
    margin: 0 auto;
    height: 400px;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.block {
    display: inline-block;
    width: 50%;
    padding: 20px;
}

#adminTitle {
    display: inline-block;
    font-size: 1.5em;
    padding-top: 80px;
    width: 60%;
    text-align: center;
    float: left;
}

#landingTitle {
    width: 100%;
    font-size: 1.5em;
    background-color: #32444e;
    color: white;
    text-align: center;
    padding: 10px;
}

#floor {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 5px 5px 5px 5px;
}

#time {
    position: absolute;
    top: 120px;
    right: 20px;
}

#floor::-webkit-scrollbar {
    width: 20px;
}

#floor::-webkit-scrollbar-track
{
    background-color: rgba(90,90,90,.05);
    border-radius: 20px;
    background-clip: content-box;
}

#floor::-webkit-scrollbar-thumb {
    background-image: url(/img/star.png);
    background-repeat: space;
    background-position: center;
}

th {
    background-color: #a4b6ba;
    position: sticky;
    top: 0;
}

#optionsClient {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}