header {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #e8ecef;
}

#landingContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    vertical-align: center;
}

#headContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    vertical-align: center;
}

body {
    width: 100%;
    height: auto;
    color: #32444e;
    background-color: #32444e;
}

#landingMain {
    background-color: white;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}

#userMainContent {
    margin: auto;
    width: 100%;
    height: 68vh;
    background-color: white;
    padding: 10px;
}

#landingLogo {
    width: 100%;
    padding: 15px;
}

nav {
    display: inline-block;
    margin: auto;
    text-align: center;
    color: white;
    background-color: #32444e;
    width: 100%;
    height: auto;
    font-size: 1.2em;
    padding: 10px;
}

body a {
    text-align: center;
    color: #32444e;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
    color: #dbb459;
    font-style: italic;
}

footer {
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
}

footer a {
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

.copyright {
    color: #dbb459;
    background-color: #32444e;
    padding: 10px;
}

#loginButton, #logoutButton, #SubmitButton, #NoDelete {
    color: white;
    background-color: #32444e;
}

#DeleteButton, #YesDelete {
    color: white;
    background-color: darkred;
}

#loginButton:hover,
#logoutButton:hover,
#SubmitButton:hover,
#NoDelete:hover {
    background-color: #dbb459;
}

#DeleteButton:hover, #YesDelete:hover {
    background-color: #ba4141;
}

#ExpandButton:hover,
#AddButton:hover {
    background-color: #e8ecef;
}

#ExpandButton,
#AddButton {
    background-color: #a4b6ba;
}

#AddButton {
    position: relative;
    z-index: 2500;
    margin-bottom: -18px;
    border-radius: 5px 5px 0 0 !important;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#buttonsTop {
    display: block;
    height: 40px;
    width: 100%;
}

#buttonsBottom {
    width: 100%;
    height: auto;
}

#SubmitButton {
    float: right;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#DeleteButton {
    float: right;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#ExpandButton {
    position: relative;
    z-index: 2500;
    margin-bottom: -18px;
    margin-left: 2px;
    border-radius: 5px 5px 0 0 !important;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#userEmail, #userPassword {
    background: #e8ecef;
}

#userEmail, #userPassword {
    width: 20%;
}

#form-row-email, #form-row-pass, #form-row-type {
    display: grid;
    height: 100px;
    place-items: center;
    padding-bottom: 20px;
}

label {
    float: left;
    margin-right: 10px;
}

.row {
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.block {
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 20px;
}

#adminTitle {
    font-size: 1.5em;
    text-align: center;
}

#pageTitle {
    text-align: center;
    position: relative;
    top: 70px;
}

#userOptions {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}

#welcome {
    font-size: 1.2em;
    padding-bottom: 10px;
}

#landingTime {
    position: relative;
    top: 100px;
}

#time {
    padding-top: 10px;
}

#landingTitle {
    width: 100%;
    height: auto;
    font-size: 1.5em;
    background-color: #32444e;
    color: white;
    color: white;
    text-align: center;
    padding: 6px;
}

#floor {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
}

#floor::-webkit-scrollbar {
    width: 20px;
}

#floor::-webkit-scrollbar-track
{
    background-color: rgba(90,90,90,.05);
    border-radius: 20px;
    background-clip: content-box;
}

#floor::-webkit-scrollbar-thumb {
    background-image: url(/img/star.png);
    background-repeat: space;
    background-position: center;
}

th {
    background-color: #a4b6ba;
    position: sticky;
    top: 0;
}

#optionsClient {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
}

#modify {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

#add {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

#delete {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

#deletePrompt {
    text-align: center;
    padding-top: 140px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

#selectionYorN {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 20px;
}

#YesDelete {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

#NoDelete {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}